h1{
    width: 35%;
    height: 20%;
    background: black;
    color: white;
    margin-bottom: 0;
}
.intro p{
    background: turquoise;
    color: white;
    width: 35%;
    height: 40%;
    margin-top: 0;

}
#origin-text{
    background: whitesmoke;
    margin-left: 20px;
    padding: 5px;
    width: 30%;
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 400;
}

#test-area{
    border: 8px solid gray;
}

#reset{
    background: green;
    padding: 20px;
    transition: background .5s .25s ease-in,transform .5s .25s ease-in-out;
    font-size: medium;
}
#reset:hover{
    transform: scale(1.2),rotateX(30deg);
    background: greenyellow;
}
.timer{
    font-size: 30px;
    font-weight: 600;
}